* {
	box-sizing: border-box
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden; 
}

#video-background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1; 
	object-fit: cover;
}

.content {
	position: relative;
	z-index: 1;
	color: white;
	text-align: center;
	padding: 20px;
}

#typed-text {
	font-size: 25px;
	font-family: 'Brush Script MT';
	fill: rgb(252, 252, 252);
}
		
#main-art .cls-1 {
	fill: #4b5c61
}

#main-art .cls-2 {
	fill: #54666e
}

#main-art .cls-3 {
	fill: #404f55
}

#main-art .cls-106,
#main-art .cls-107,
#main-art .cls-108,
#main-art .cls-109,
#main-art .cls-110,
#main-art .cls-111,
#main-art .cls-112,
#main-art .cls-113,
#main-art .cls-114,
#main-art .cls-115,
#main-art .cls-116,
#main-art .cls-117,
#main-art .cls-118,
#main-art .cls-119,
#main-art .cls-120,
#main-art .cls-121,
#main-art .cls-122,
#main-art .cls-123,
#main-art .cls-125,
#main-art .cls-126,
#main-art .cls-127,
#main-art .cls-128,
#main-art .cls-129,
#main-art .cls-130,
#main-art .cls-131,
#main-art .cls-133,
#main-art .cls-134,
#main-art .cls-135,
#main-art .cls-136,
#main-art .cls-137,
#main-art .cls-138,
#main-art .cls-139,
#main-art .cls-140,
#main-art .cls-141,
#main-art .cls-142,
#main-art .cls-143,
#main-art .cls-144,
#main-art .cls-20,
#main-art .cls-26,
#main-art .cls-30,
#main-art .cls-31,
#main-art .cls-38,
#main-art .cls-40,
#main-art .cls-48,
#main-art .cls-49,
#main-art .cls-52,
#main-art .cls-54,
#main-art .cls-56,
#main-art .cls-58,
#main-art .cls-60,
#main-art .cls-62,
#main-art .cls-63,
#main-art .cls-66,
#main-art .cls-67,
#main-art .cls-69 {
	fill: none
}

#main-art .cls-20 {
	stroke: #3f413e
}

#main-art .cls-106,
#main-art .cls-107,
#main-art .cls-108,
#main-art .cls-109,
#main-art .cls-110,
#main-art .cls-111,
#main-art .cls-112,
#main-art .cls-113,
#main-art .cls-114,
#main-art .cls-115,
#main-art .cls-116,
#main-art .cls-117,
#main-art .cls-118,
#main-art .cls-119,
#main-art .cls-120,
#main-art .cls-121,
#main-art .cls-122,
#main-art .cls-123,
#main-art .cls-124,
#main-art .cls-125,
#main-art .cls-126,
#main-art .cls-127,
#main-art .cls-128,
#main-art .cls-129,
#main-art .cls-130,
#main-art .cls-131,
#main-art .cls-133,
#main-art .cls-134,
#main-art .cls-135,
#main-art .cls-136,
#main-art .cls-137,
#main-art .cls-138,
#main-art .cls-139,
#main-art .cls-140,
#main-art .cls-141,
#main-art .cls-142,
#main-art .cls-143,
#main-art .cls-144,
#main-art .cls-20,
#main-art .cls-24,
#main-art .cls-26,
#main-art .cls-30,
#main-art .cls-31,
#main-art .cls-38,
#main-art .cls-40,
#main-art .cls-42,
#main-art .cls-48,
#main-art .cls-49,
#main-art .cls-52,
#main-art .cls-55,
#main-art .cls-56,
#main-art .cls-58,
#main-art .cls-60,
#main-art .cls-62,
#main-art .cls-63,
#main-art .cls-65,
#main-art .cls-66,
#main-art .cls-67 {
	stroke-linecap: round;
	stroke-linejoin: round
}

#main-art .cls-21 {
	fill: #d0cbbd
}

#main-art .cls-22 {
	opacity: 0.2
}

#main-art .cls-124,
#main-art .cls-23,
#main-art .cls-24,
#main-art .cls-64,
#main-art .cls-65 {
	fill: #fff
}

#main-art .cls-23,
#main-art .cls-24,
#main-art .cls-26 {
	stroke: #fff
}

#main-art .cls-132,
#main-art .cls-23,
#main-art .cls-41,
#main-art .cls-53,
#main-art .cls-54,
#main-art .cls-59,
#main-art .cls-61,
#main-art .cls-69,
#main-art .cls-75 {
	stroke-miterlimit: 10
}

#main-art .cls-25 {
	opacity: 1
}

#main-art .cls-27 {
	fill: #ded5ae
}

#main-art .cls-28 {
	fill: #f5bb84
}

#main-art .cls-29 {
	fill: #747678
}

#main-art .cls-30 {
	stroke: #4e504c
}

#main-art .cls-31 {
	stroke: #4b4c4a
}

#main-art .cls-32 {
	opacity: 0.1
}

#main-art .cls-33 {
	fill: #2a2d2d
}

#main-art .cls-34 {
	fill: #2e302e
}

#main-art .cls-35 {
	fill: #2e302e
}

#main-art .cls-36 {
	fill: #2e302e
}

#main-art .cls-37 {
	fill: #2e302e
}

#main-art .cls-38 {
	stroke: #4d4f4b;
  fill: #2e302e
}

#main-art .cls-39,
#main-art .cls-41,
#main-art .cls-42 {
	fill: #cec7c6
}

#main-art .cls-40,
#main-art .cls-41,
#main-art .cls-42 {
	stroke: #2e302e
}

#main-art .cls-43 {
	fill: #2e302e
}

#main-art .cls-44 {
	fill: #2e302e
}

#main-art .cls-45 {
	fill: #2a2d2d
}

#main-art .cls-46 {
	fill: #2e302e
}

#main-art .cls-47 {
	fill: #2e302e
}

#main-art .cls-48 {
	stroke: #d9f00d
}

#main-art .cls-49 {
	stroke: #292b28
}

#main-art .cls-50 {
	fill: #d9f00d
}

#main-art .cls-51,
#main-art .cls-53,
#main-art .cls-55 {
	fill: #cfc7c7
}

#main-art .cls-52,
#main-art .cls-53,
#main-art .cls-54,
#main-art .cls-55 {
	stroke: #282b28
}

#main-art .cls-56 {
	stroke: #364b47
}

#main-art .cls-57,
#main-art .cls-61 {
	fill: #cec6c7
}

#main-art .cls-124,
#main-art .cls-125,
#main-art .cls-135,
#main-art .cls-58,
#main-art .cls-65 {
	stroke: #231f20
}

#main-art .cls-59 {
	fill: #585b59
}

#main-art .cls-59,
#main-art .cls-60 {
	stroke: #1c1c1c
}

#main-art .cls-61,
#main-art .cls-62 {
	stroke: #141414
}

#main-art .cls-63 {
	stroke: #575955
}

#main-art .cls-113,
#main-art .cls-131,
#main-art .cls-66 {
	stroke: #0a1421
}

#main-art .cls-125,
#main-art .cls-126,
#main-art .cls-128,
#main-art .cls-129,
#main-art .cls-138,
#main-art .cls-139,
#main-art .cls-141,
#main-art .cls-142,
#main-art .cls-143,
#main-art .cls-66,
#main-art .cls-67 {
	stroke-width: 1.5px
}

#main-art .cls-119,
#main-art .cls-67 {
	stroke: #0b1c30
}

#main-art .cls-132,
#main-art .cls-68 {
	fill: #cb2e02
}

#main-art .cls-106,
#main-art .cls-127,
#main-art .cls-69 {
	stroke: #543b38
}

#main-art .cls-70 {
	fill: #f0f4f2
}

#main-art .cls-71 {
	fill: #ebe7e5
}

#main-art .cls-72 {
	fill: #ddcec5
}

#main-art .cls-73 {
	fill: #d53b47
}

#main-art .cls-74 {
	fill: #c2b6a9
}

#main-art .cls-75,
#main-art .cls-76 {
	fill: #c70719
}

#main-art .cls-138,
#main-art .cls-75 {
	stroke: #3b1314
}

#main-art .cls-77 {
	fill: #73282f
}

#main-art .cls-78 {
	fill: #f20505
}

#main-art .cls-79 {
	fill: #2e302e
}

#main-art .cls-80 {
	fill: #292324
}

#main-art .cls-81 {
	fill: #495362
}

#main-art .cls-82 {
	fill: #744745
}

#main-art .cls-83 {
	fill: #212e3a
}

#main-art .cls-84 {
	fill: #353e48
}

#main-art .cls-85 {
	fill: #ebce86
}

#main-art .cls-86 {
	fill: #292324
}

#main-art .cls-87 {
	fill: #54323a
}

#main-art .cls-88 {
	fill: #664c56
}

#main-art .cls-89 {
	fill: #4f2f35
}

#main-art .cls-90 {
	fill: #c14d34
}

#main-art .cls-91 {
	fill: #7c464d
}

#main-art .cls-92 {
	fill: #b6b907
}

#main-art .cls-93 {
	fill: #393d51
}

#main-art .cls-94 {
	fill: #201d1c
}

#main-art .cls-95 {
	fill: #553b38
}

#main-art .cls-96 {
	fill: #80363f
}

#main-art .cls-97 {
	fill: #a26a6a
}

#main-art .cls-98 {
	fill: #6f3f3d
}

#main-art .cls-99 {
	fill: #c70719
}

#main-art .cls-100 {
	fill: #d94b69
}

#main-art .cls-101 {
	fill: #cfc7c6
}

#main-art .cls-102 {
	fill: #383f45
}

#main-art .cls-103 {
	fill: #e2d7d7
}

#main-art .cls-104 {
	fill: #673339
}

#main-art .cls-105 {
	fill: #11181f
}

#main-art .cls-107,
#main-art .cls-128 {
	stroke: #050709
}

#main-art .cls-108,
#main-art .cls-129,
#main-art .cls-140 {
	stroke: #ed0505
}

#main-art .cls-109,
#main-art .cls-116 {
	stroke: #b81000
}

#main-art .cls-110 {
	stroke: #b81000
}

#main-art .cls-111 {
	stroke: #161211
}

#main-art .cls-112,
#main-art .cls-126,
#main-art .cls-130 {
	stroke: #4d1114
}

#main-art .cls-114,
#main-art .cls-133 {
	stroke: #210f0f
}

#main-art .cls-115,
#main-art .cls-134 {
	stroke: #2e1010
}

#main-art .cls-116,
#main-art .cls-124,
#main-art .cls-127,
#main-art .cls-130,
#main-art .cls-131,
#main-art .cls-132,
#main-art .cls-133,
#main-art .cls-134,
#main-art .cls-135,
#main-art .cls-136,
#main-art .cls-137,
#main-art .cls-140,
#main-art .cls-144 {
	stroke-width: 1.25px
}

#main-art .cls-117,
#main-art .cls-136 {
	stroke: #272939
}

#main-art .cls-118,
#main-art .cls-137 {
	stroke: #3b1c1e
}

#main-art .cls-120,
#main-art .cls-141 {
	stroke: #49413c
}

#main-art .cls-121,
#main-art .cls-142 {
	stroke: #2d1619
}

#main-art .cls-122,
#main-art .cls-143 {
	stroke: #292624
}

#main-art .cls-123,
#main-art .cls-132,
#main-art .cls-144 {
	stroke: #000
}

#main-art .cls-139 {
	stroke: #221011
}

.logo {
  width: 110px;
  position: absolute; 
  top: 20px;
  left: 20px;
  transform: rotate(-15deg);
  z-index: 1000; 
}

.logo:before {
  content: "";
  display: block;
  background: rgba(224, 59, 59, 0.752);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px dashed #eeea08;
  border-radius: 5px;
  z-index: -1; 
}

.box {
  background: #f8e9e9;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: 1px 13px 79px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: transform 0.4s;
}
.box img {
  width: 100%;
}
.box:hover {
  transform: translate(14%, 35%);
}

.smoke-container {
  position: relative;
  left: 75%;
  top: 50%;
  transform: translateX(-50%) translateY(-40%);
}

.smoke {
  left: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  background-image: url("../resources/smoke.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes smoke-1 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(92px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-1 {
  animation: smoke-1 3s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
}

@keyframes smoke-2 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(24px) translateY(-246px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-2 {
  animation: smoke-2 3s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}

@keyframes smoke-3 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-3 {
  animation: smoke-3 3s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}

@keyframes smoke-4 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(53px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-4 {
  animation: smoke-4 3s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}

@keyframes smoke-5 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(12px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-5 {
  animation: smoke-5 3s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes smoke-6 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(92px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-6 {
  animation: smoke-6 3s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes smoke-7 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(38px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-7 {
  animation: smoke-7 3s;
  animation-delay: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes smoke-8 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(71px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-8 {
  animation: smoke-8 3s;
  animation-delay: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes smoke-9 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-9 {
  animation: smoke-9 3s;
  animation-delay: 0.9s;
  animation-iteration-count: infinite;
}

@keyframes smoke-10 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-10 {
  animation: smoke-10 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes smoke-11 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-11 {
  animation: smoke-11 3s;
  animation-delay: 1.1s;
  animation-iteration-count: infinite;
}

@keyframes smoke-12 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-12 {
  animation: smoke-12 3s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes smoke-13 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-13 {
  animation: smoke-13 3s;
  animation-delay: 1.3s;
  animation-iteration-count: infinite;
}

@keyframes smoke-14 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(92px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-14 {
  animation: smoke-14 3s;
  animation-delay: 1.4s;
  animation-iteration-count: infinite;
}

@keyframes smoke-15 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(45px) translateY(-219px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-15 {
  animation: smoke-15 3s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes smoke-16 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) translateY(-246px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-16 {
  animation: smoke-16 3s;
  animation-delay: 1.6s;
  animation-iteration-count: infinite;
}

@keyframes smoke-17 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(71px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-17 {
  animation: smoke-17 3s;
  animation-delay: 1.7s;
  animation-iteration-count: infinite;
}

@keyframes smoke-18 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(38px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-18 {
  animation: smoke-18 3s;
  animation-delay: 1.8s;
  animation-iteration-count: infinite;
}

@keyframes smoke-19 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(17px) translateY(-200px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-19 {
  animation: smoke-19 3s;
  animation-delay: 1.9s;
  animation-iteration-count: infinite;
}

@keyframes smoke-20 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(12px) translateY(-219px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-20 {
  animation: smoke-20 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

@keyframes smoke-21 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(38px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-21 {
  animation: smoke-21 3s;
  animation-delay: 2.1s;
  animation-iteration-count: infinite;
}

@keyframes smoke-22 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(53px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-22 {
  animation: smoke-22 3s;
  animation-delay: 2.2s;
  animation-iteration-count: infinite;
}

@keyframes smoke-23 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(0px) translateY(-233px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-23 {
  animation: smoke-23 3s;
  animation-delay: 2.3s;
  animation-iteration-count: infinite;
}

@keyframes smoke-24 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(12px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-24 {
  animation: smoke-24 3s;
  animation-delay: 2.4s;
  animation-iteration-count: infinite;
}

@keyframes smoke-25 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-200px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-25 {
  animation: smoke-25 3s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes smoke-26 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(24px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-26 {
  animation: smoke-26 3s;
  animation-delay: 2.6s;
  animation-iteration-count: infinite;
}

@keyframes smoke-27 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-200px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-27 {
  animation: smoke-27 3s;
  animation-delay: 2.7s;
  animation-iteration-count: infinite;
}

@keyframes smoke-28 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(17px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-28 {
  animation: smoke-28 3s;
  animation-delay: 2.8s;
  animation-iteration-count: infinite;
}

@keyframes smoke-29 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(53px) translateY(-200px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-29 {
  animation: smoke-29 3s;
  animation-delay: 2.9s;
  animation-iteration-count: infinite;
}

@keyframes smoke-30 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(24px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-30 {
  animation: smoke-30 3s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

@keyframes smoke-31 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(24px) translateY(-253px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-31 {
  animation: smoke-31 3s;
  animation-delay: 3.1s;
  animation-iteration-count: infinite;
}

@keyframes smoke-32 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(17px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-32 {
  animation: smoke-32 3s;
  animation-delay: 3.2s;
  animation-iteration-count: infinite;
}

@keyframes smoke-33 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(92px) translateY(-219px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-33 {
  animation: smoke-33 3s;
  animation-delay: 3.3s;
  animation-iteration-count: infinite;
}

@keyframes smoke-34 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-219px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-34 {
  animation: smoke-34 3s;
  animation-delay: 3.4s;
  animation-iteration-count: infinite;
}

@keyframes smoke-35 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(45px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-35 {
  animation: smoke-35 3s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes smoke-36 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(71px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-36 {
  animation: smoke-36 3s;
  animation-delay: 3.6s;
  animation-iteration-count: infinite;
}

@keyframes smoke-37 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-37 {
  animation: smoke-37 3s;
  animation-delay: 3.7s;
  animation-iteration-count: infinite;
}

@keyframes smoke-38 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-38 {
  animation: smoke-38 3s;
  animation-delay: 3.8s;
  animation-iteration-count: infinite;
}

@keyframes smoke-39 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(12px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-39 {
  animation: smoke-39 3s;
  animation-delay: 3.9s;
  animation-iteration-count: infinite;
}

@keyframes smoke-40 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(24px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-40 {
  animation: smoke-40 3s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

@keyframes smoke-41 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-41 {
  animation: smoke-41 3s;
  animation-delay: 4.1s;
  animation-iteration-count: infinite;
}

@keyframes smoke-42 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-42 {
  animation: smoke-42 3s;
  animation-delay: 4.2s;
  animation-iteration-count: infinite;
}

@keyframes smoke-43 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-43 {
  animation: smoke-43 3s;
  animation-delay: 4.3s;
  animation-iteration-count: infinite;
}

@keyframes smoke-44 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(17px) translateY(-253px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-44 {
  animation: smoke-44 3s;
  animation-delay: 4.4s;
  animation-iteration-count: infinite;
}

@keyframes smoke-45 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-45 {
  animation: smoke-45 3s;
  animation-delay: 4.5s;
  animation-iteration-count: infinite;
}

@keyframes smoke-46 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(53px) translateY(-253px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-46 {
  animation: smoke-46 3s;
  animation-delay: 4.6s;
  animation-iteration-count: infinite;
}

@keyframes smoke-47 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(92px) translateY(-253px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-47 {
  animation: smoke-47 3s;
  animation-delay: 4.7s;
  animation-iteration-count: infinite;
}

@keyframes smoke-48 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-48 {
  animation: smoke-48 3s;
  animation-delay: 4.8s;
  animation-iteration-count: infinite;
}

@keyframes smoke-49 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(38px) translateY(-219px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-49 {
  animation: smoke-49 3s;
  animation-delay: 4.9s;
  animation-iteration-count: infinite;
}

@keyframes smoke-50 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(53px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-50 {
  animation: smoke-50 3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes smoke-51 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-200px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-51 {
  animation: smoke-51 3s;
  animation-delay: 5.1s;
  animation-iteration-count: infinite;
}

@keyframes smoke-52 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-246px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-52 {
  animation: smoke-52 3s;
  animation-delay: 5.2s;
  animation-iteration-count: infinite;
}

@keyframes smoke-53 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(38px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-53 {
  animation: smoke-53 3s;
  animation-delay: 5.3s;
  animation-iteration-count: infinite;
}

@keyframes smoke-54 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(38px) translateY(-259px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-54 {
  animation: smoke-54 3s;
  animation-delay: 5.4s;
  animation-iteration-count: infinite;
}

@keyframes smoke-55 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(71px) translateY(-200px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-55 {
  animation: smoke-55 3s;
  animation-delay: 5.5s;
  animation-iteration-count: infinite;
}

@keyframes smoke-56 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(71px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-56 {
  animation: smoke-56 3s;
  animation-delay: 5.6s;
  animation-iteration-count: infinite;
}

@keyframes smoke-57 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(17px) translateY(-211px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-57 {
  animation: smoke-57 3s;
  animation-delay: 5.7s;
  animation-iteration-count: infinite;
}

@keyframes smoke-58 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(66px) translateY(-203px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-58 {
  animation: smoke-58 3s;
  animation-delay: 5.8s;
  animation-iteration-count: infinite;
}

@keyframes smoke-59 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(89px) translateY(-233px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-59 {
  animation: smoke-59 3s;
  animation-delay: 5.9s;
  animation-iteration-count: infinite;
}

@keyframes smoke-60 {
  0% {
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateX(38px) translateY(-219px) scaleX(6) scaleY(6) scaleZ(3) rotate(180deg);
  }
}
.smoke-60 {
  animation: smoke-60 3s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
}