						<g id="foreground-haze">
							<ellipse class="haze haze--front-one" cx="520" cy="645" rx="120" ry="18"></ellipse>
							<ellipse class="haze haze--front-two" cx="760" cy="635" rx="150" ry="20"></ellipse>
							<ellipse class="haze haze--front-three" cx="990" cy="650" rx="130" ry="18"></ellipse>
							<path class="haze-wisp haze-wisp--one" d="M338 575 C390 548 446 592 502 565 S604 545 664 573"></path>
							<path class="haze-wisp haze-wisp--two" d="M640 610 C705 578 774 628 848 596 S960 584 1044 612"></path>
							<path class="haze-wisp haze-wisp--three" d="M455 662 C530 636 600 678 684 648 S824 634 900 660"></path>
							</g>
