						<g id="front-building">
							<polyline class="cls-27" points="847.296 334.417 861.129 337.417 861.129 361.084 847.296 357.75"></polyline>
							<rect class="cls-28" height="294.251" width="241.333" x="-7" y="99.349"></rect>
							<rect class="cls-15" height="9.015" width="241.333" x="-7" y="90.334"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="21.333" y="127.625"></rect>
							<rect class="cls-29" height="41.042" width="15.291" x="77.855" y="127.625"></rect>
							<rect class="cls-29" height="41.042" width="15.291" x="134.667" y="127.979"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="191.501" y="128.854"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="21.501" y="207.875"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="78.021" y="207.875"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="134.834" y="208.229"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="191.667" y="209.104"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="21.501" y="275.203"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="78.021" y="275.203"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="134.834" y="275.557"></rect>
							<rect class="cls-29" height="41.042" width="15.292" x="191.667" y="276.432"></rect>
							<rect class="cls-15" height="3.646" width="21.646" x="17.688" y="169.021"></rect>
							<rect class="cls-15" height="4.167" width="21.646" x="74.667" y="168.5"></rect>
							<rect class="cls-15" height="4.313" width="21.479" x="131.355" y="169.021"></rect>
							<rect class="cls-15" height="3.834" width="21.48" x="188.167" y="169.5"></rect>
							<rect class="cls-15" height="3.646" width="21.646" x="17.687" y="249.126"></rect>
							<rect class="cls-15" height="4.167" width="21.646" x="74.666" y="248.605"></rect>
							<rect class="cls-15" height="4.312" width="21.479" x="131.354" y="249.126"></rect>
							<rect class="cls-15" height="3.833" width="21.48" x="188.166" y="249.605"></rect>
							<rect class="cls-15" height="3.646" width="21.646" x="74.521" y="317.067"></rect>
							<rect class="cls-15" height="4.167" width="21.646" x="131.5" y="316.546"></rect>
							<rect class="cls-15" height="4.312" width="21.479" x="188.188" y="317.067"></rect>
							<rect class="cls-15" height="3" width="16.333" x="20.667" y="151.75"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="27.125" y="127.334"></rect>
							<rect class="cls-15" height="3" width="16.333" x="77.646" y="152.042"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="84.104" y="127.625"></rect>
							<rect class="cls-15" height="3" width="16.333" x="134.313" y="152.042"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="140.771" y="127.625"></rect>
							<rect class="cls-15" height="3" width="16.333" x="190.74" y="152.917"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="197.198" y="128.5"></rect>
							<rect class="cls-15" height="3" width="16.333" x="20.464" y="231.917"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="26.922" y="207.5"></rect>
							<rect class="cls-15" height="3" width="16.333" x="77.443" y="232.208"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="83.901" y="207.792"></rect>
							<rect class="cls-15" height="3" width="16.333" x="134.11" y="232.208"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="140.568" y="207.792"></rect>
							<rect class="cls-15" height="3" width="16.333" x="190.537" y="233.083"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="196.995" y="208.667"></rect>
							<rect class="cls-15" height="3" width="16.333" x="20.464" y="299.297"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="26.922" y="274.88"></rect>
							<rect class="cls-15" height="3" width="16.333" x="77.443" y="299.588"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="83.901" y="275.172"></rect>
							<rect class="cls-15" height="3" width="16.333" x="134.11" y="299.588"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="140.568" y="275.172"></rect>
							<rect class="cls-15" height="3" width="16.333" x="190.537" y="300.463"></rect>
							<rect class="cls-15" height="24.5" width="2.75" x="196.995" y="276.047"></rect>
							<rect class="cls-29" height="4.23" width="241.333" x="-7" y="95.119"></rect>
							<polyline class="cls-27" points="861.13 361.084 847.297 358.084 847.297 334.417"></polyline>
							<ellipse class="cls-11" cx="854.213" cy="347.035" rx="4.05" ry="5.877"></ellipse>
							<rect class="cls-11" height="34.206" width="2.162" x="853.4" y="359.4"></rect>
							<path class="cls-30" d="M-7,95c.75.25,241.334.024,241.334.024"></path>
							<path class="cls-30" d="M-7,99.26c.75.25,241.334-.111,241.334-.111"></path>
							<rect class="cls-31" height="303.266" width="241.333" x="-7" y="90.334"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="21" y="127.625"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="17.688" y="168.5"></rect>
							<rect class="cls-31" height="3" width="15.625" x="21" y="151.75"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="27.125" y="127.625"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="78" y="127.625"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="74.688" y="168.5"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="84.125" y="127.625"></rect>
							<rect class="cls-31" height="3" width="15.625" x="78" y="151.75"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="134.667" y="128.063"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="131.355" y="168.938"></rect>
							<rect class="cls-31" height="3" width="15.625" x="134.667" y="152.188"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="140.792" y="128.063"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="191.334" y="128.5"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="188.021" y="169.375"></rect>
							<rect class="cls-31" height="3" width="15.625" x="191.334" y="152.625"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="197.459" y="128.5"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="21" y="207.959"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="17.688" y="248.834"></rect>
							<rect class="cls-31" height="3" width="15.625" x="21" y="232.084"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="27.125" y="207.959"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="78" y="207.959"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="74.688" y="248.834"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="84.125" y="207.959"></rect>
							<rect class="cls-31" height="3" width="15.625" x="78" y="232.084"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="134.667" y="208.396"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="131.355" y="249.271"></rect>
							<rect class="cls-31" height="3" width="15.625" x="134.667" y="232.521"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="140.792" y="208.396"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="191.334" y="208.834"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="188.021" y="249.709"></rect>
							<rect class="cls-31" height="3" width="15.625" x="191.334" y="232.959"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="197.459" y="208.834"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="21" y="275.463"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="17.688" y="316.338"></rect>
							<rect class="cls-31" height="3" width="15.625" x="21" y="299.588"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="27.125" y="275.463"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="78" y="275.463"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="74.688" y="316.338"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="84.125" y="275.463"></rect>
							<rect class="cls-31" height="3" width="15.625" x="78" y="299.588"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="134.667" y="275.901"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="131.355" y="316.776"></rect>
							<rect class="cls-31" height="3" width="15.625" x="134.667" y="300.026"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="140.792" y="275.901"></rect>
							<rect class="cls-31" height="40.875" width="15.625" x="191.334" y="276.338"></rect>
							<rect class="cls-31" height="4.375" width="21.625" x="188.021" y="317.213"></rect>
							<rect class="cls-31" height="3" width="15.625" x="191.334" y="300.463"></rect>
							<rect class="cls-31" height="24.125" width="2.75" x="197.459" y="276.338"></rect>
							<polygon class="cls-31" points="847.296 358.084 847.296 334.417 861.129 337.167 861.129 361.084 847.296 358.084"></polygon>
							<ellipse class="cls-31" cx="854.213" cy="347.209" rx="4.042" ry="5.708" transform="translate(-19.232 51.696) rotate(-3.428)"></ellipse>
							<polyline class="cls-31" points="853.196 359.4 853.604 393.605 855.855 393.605 855.37 359.871"></polyline>
							<g class="cls-32">
								<rect class="cls-23" height="294.251" width="241.333" x="-7" y="99.349"></rect>
								<rect class="cls-23" height="9.015" width="241.333" x="-7" y="90.334"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="21.333" y="127.625"></rect>
								<rect class="cls-23" height="41.042" width="15.291" x="77.855" y="127.625"></rect>
								<rect class="cls-23" height="41.042" width="15.291" x="134.667" y="127.979"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="191.501" y="128.854"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="21.501" y="207.875"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="78.021" y="207.875"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="134.834" y="208.229"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="191.667" y="209.104"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="21.501" y="275.203"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="78.021" y="275.203"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="134.834" y="275.557"></rect>
								<rect class="cls-23" height="41.042" width="15.292" x="191.667" y="276.432"></rect>
								<rect class="cls-23" height="3.646" width="21.646" x="17.688" y="169.021"></rect>
								<rect class="cls-23" height="4.167" width="21.646" x="74.667" y="168.5"></rect>
								<rect class="cls-23" height="4.313" width="21.479" x="131.355" y="169.021"></rect>
								<rect class="cls-23" height="3.834" width="21.48" x="188.167" y="169.5"></rect>
								<rect class="cls-23" height="3.646" width="21.646" x="17.687" y="249.126"></rect>
								<rect class="cls-23" height="4.167" width="21.646" x="74.666" y="248.605"></rect>
								<rect class="cls-23" height="4.312" width="21.479" x="131.354" y="249.126"></rect>
								<rect class="cls-23" height="3.833" width="21.48" x="188.166" y="249.605"></rect>
								<rect class="cls-23" height="3.646" width="21.646" x="74.521" y="317.067"></rect>
								<rect class="cls-23" height="4.167" width="21.646" x="131.5" y="316.546"></rect>
								<rect class="cls-23" height="4.312" width="21.479" x="188.188" y="317.067"></rect>
								<rect class="cls-23" height="3" width="16.333" x="20.667" y="151.75"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="27.125" y="127.334"></rect>
								<rect class="cls-23" height="3" width="16.333" x="77.646" y="152.042"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="84.104" y="127.625"></rect>
								<rect class="cls-23" height="3" width="16.333" x="134.313" y="152.042"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="140.771" y="127.625"></rect>
								<rect class="cls-23" height="3" width="16.333" x="190.74" y="152.917"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="197.198" y="128.5"></rect>
								<rect class="cls-23" height="3" width="16.333" x="20.464" y="231.917"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="26.922" y="207.5"></rect>
								<rect class="cls-23" height="3" width="16.333" x="77.443" y="232.208"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="83.901" y="207.792"></rect>
								<rect class="cls-23" height="3" width="16.333" x="134.11" y="232.208"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="140.568" y="207.792"></rect>
								<rect class="cls-23" height="3" width="16.333" x="190.537" y="233.083"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="196.995" y="208.667"></rect>
								<rect class="cls-23" height="3" width="16.333" x="20.464" y="299.297"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="26.922" y="274.88"></rect>
								<rect class="cls-23" height="3" width="16.333" x="77.443" y="299.588"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="83.901" y="275.172"></rect>
								<rect class="cls-23" height="3" width="16.333" x="134.11" y="299.588"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="140.568" y="275.172"></rect>
								<rect class="cls-23" height="3" width="16.333" x="190.537" y="300.463"></rect>
								<rect class="cls-23" height="24.5" width="2.75" x="196.995" y="276.047"></rect>
								<rect class="cls-23" height="4.23" width="241.333" x="-7" y="95.119"></rect>
								<path class="cls-24" d="M-7,95c.75.25,241.334.024,241.334.024"></path>
								<path class="cls-24" d="M-7,99.26c.75.25,241.334-.111,241.334-.111"></path>
								<rect class="cls-24" height="303.266" width="241.333" x="-7" y="90.334"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="21" y="127.625"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="17.688" y="168.5"></rect>
								<rect class="cls-24" height="3" width="15.625" x="21" y="151.75"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="27.125" y="127.625"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="78" y="127.625"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="74.688" y="168.5"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="84.125" y="127.625"></rect>
								<rect class="cls-24" height="3" width="15.625" x="78" y="151.75"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="134.667" y="128.063"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="131.355" y="168.938"></rect>
								<rect class="cls-24" height="3" width="15.625" x="134.667" y="152.188"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="140.792" y="128.063"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="191.334" y="128.5"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="188.021" y="169.375"></rect>
								<rect class="cls-24" height="3" width="15.625" x="191.334" y="152.625"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="197.459" y="128.5"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="21" y="207.959"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="17.688" y="248.834"></rect>
								<rect class="cls-24" height="3" width="15.625" x="21" y="232.084"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="27.125" y="207.959"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="78" y="207.959"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="74.688" y="248.834"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="84.125" y="207.959"></rect>
								<rect class="cls-24" height="3" width="15.625" x="78" y="232.084"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="134.667" y="208.396"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="131.355" y="249.271"></rect>
								<rect class="cls-24" height="3" width="15.625" x="134.667" y="232.521"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="140.792" y="208.396"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="191.334" y="208.834"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="188.021" y="249.709"></rect>
								<rect class="cls-24" height="3" width="15.625" x="191.334" y="232.959"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="197.459" y="208.834"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="21" y="275.463"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="17.688" y="316.338"></rect>
								<rect class="cls-24" height="3" width="15.625" x="21" y="299.588"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="27.125" y="275.463"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="78" y="275.463"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="74.688" y="316.338"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="84.125" y="275.463"></rect>
								<rect class="cls-24" height="3" width="15.625" x="78" y="299.588"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="134.667" y="275.901"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="131.355" y="316.776"></rect>
								<rect class="cls-24" height="3" width="15.625" x="134.667" y="300.026"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="140.792" y="275.901"></rect>
								<rect class="cls-24" height="40.875" width="15.625" x="191.334" y="276.338"></rect>
								<rect class="cls-24" height="4.375" width="21.625" x="188.021" y="317.213"></rect>
								<rect class="cls-24" height="3" width="15.625" x="191.334" y="300.463"></rect>
								<rect class="cls-24" height="24.125" width="2.75" x="197.459" y="276.338"></rect>
							</g>
						</g>
