						<g id="colour-ground">
							<rect class="cls-1" height="389.651" width="1233.597" x="-38.877" y="354.921"></rect>
							<rect class="cls-2" height="214.477" width="1471.427" x="-53.878" y="545.098"></rect>
							<ellipse class="cls-3" cx="612.375" cy="543.86" rx="704" ry="81.723"></ellipse>
						</g>
						<g id="ground-haze">
							<ellipse class="haze haze--one" cx="398" cy="588" rx="74" ry="12"></ellipse>
							<ellipse class="haze haze--two" cx="665" cy="604" rx="96" ry="14"></ellipse>
							<ellipse class="haze haze--three" cx="918" cy="586" rx="82" ry="12"></ellipse>
						</g>
